/*Zero style start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*----------------*/
/*Zero style end*/
/* roboto-condensed-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v24-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-condensed-v24-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-condensed-v24-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-condensed-v24-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-condensed-v24-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-condensed-v24-latin_cyrillic-regular.svg#RobotoCondensed") format("svg");
  /* Legacy iOS */
}

/* roboto-condensed-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-condensed-v24-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-condensed-v24-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-condensed-v24-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-condensed-v24-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-condensed-v24-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-condensed-v24-latin_cyrillic-700.svg#RobotoCondensed") format("svg");
  /* Legacy iOS */
}

/* ubuntu-regular - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ubuntu-v19-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/ubuntu-v19-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-v19-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/ubuntu-v19-latin_cyrillic-regular.woff") format("woff"), url("../fonts/ubuntu-v19-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/ubuntu-v19-latin_cyrillic-regular.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}

/* ubuntu-500 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ubuntu-v19-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/ubuntu-v19-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-v19-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/ubuntu-v19-latin_cyrillic-500.woff") format("woff"), url("../fonts/ubuntu-v19-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/ubuntu-v19-latin_cyrillic-500.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}

/* ubuntu-700 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ubuntu-v19-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/ubuntu-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/ubuntu-v19-latin_cyrillic-700.woff") format("woff"), url("../fonts/ubuntu-v19-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/ubuntu-v19-latin_cyrillic-700.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v23-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v23-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v23-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v23-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v23-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v23-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/*---General style start---*/
.wrapper__all {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper__sm {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 5px 0 5px;
}

/*---General style end---*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*---Header style start---*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 29px 5px 35px 5px;
}

.header__50 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 15px;
  width: 30px;
  height: 41px;
}

.header__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-textfilling {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  color: #4664A0;
  margin-right: 20px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 34px;
}

.header__button-all {
  background: #2E4B85;
  border-radius: 5px;
}

.header__button-link {
  text-decoration: none;
}

.header__button-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  margin: 12px 34px 14px 46px;
  padding-left: 19px;
  color: #FFFFFF;
}

.header__part-two {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__location {
  margin: 0 0 0 auto;
}

.header__location-pic {
  margin-right: 12px;
}

.header__location-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__location-textfilling {
  max-width: 131px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.header__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 auto;
}

.header__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__mobile-text {
  margin-left: 12px;
}

.header__instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__instagram-link-pic {
  height: 35px;
  width: 35px;
  margin-left: 17px;
}

/*---Header style end---*/
/*---NAV style end---*/
.wrapper__nav {
  margin: 0 auto;
  background: #4664A0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__building {
  margin-right: 34px;
}

.nav__building-ico-pic {
  width: 25px;
  height: 25px;
}

.nav__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  background: #4664A0;
}

.nav__link {
  text-decoration: none;
}

.nav__text {
  font: 400 normal 13px 'Ubuntu';
  color: #FFFFFF;
  padding: 15px 40px 18px 40px;
  text-align: center;
}

.nav__text:hover, .nav__text:active {
  background: #1D4596;
  border-bottom: 2px solid #FFFFFF;
}

/*---NAV style end---*/
/*---PRODUCTION_MAIN style START---*/
.production__main {
  background: url("/img/index/production__main.jpg") no-repeat center;
  background-size: cover;
  height: 630px;
  position: relative;
  padding-top: 139px;
  padding-bottom: 197px;
}

.production__main-inside {
  position: absolute;
  top: 139px;
  right: 0;
  left: 0;
}

.production__main-inside-text-first {
  font: 700 normal 45px/60px 'Ubuntu';
  text-align: center;
  color: #FFFFFF;
  max-width: 845px;
  margin: 0 auto 31px auto;
}

.production__main-inside-logo-pic-first {
  width: 81.07px;
  height: 50.18px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin: 0 auto 15px auto;
}

.production__main-inside-logo-pic-second {
  width: 240.7px;
  height: 22.79px;
  text-align: center;
  display: block;
  margin: 0 auto 36px auto;
}

.production__main-inside-text-second {
  font: 500 normal 25px/18px 'Ubuntu';
  text-align: center;
  color: #FFFFFF;
}

/*---PRODUCTION_MAIN style END---*/
/*---ADVANTAGES_MAIN style START---*/
.advantages {
  background: url("/img/index/advantages.jpg") no-repeat center;
  background-size: cover;
  height: 451px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.advantages__title {
  font: 700 normal 35px/18px 'Ubuntu';
  text-align: center;
  color: #333333;
  margin-bottom: 40px;
}

.advantages__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 38px;
  max-width: 932px;
  margin: 0 auto;
}

.advantages__card-linc {
  text-decoration: none;
}

.advantages__card-pic {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.advantages__card-pic:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s all;
  transition: .5s all;
}

.advantages__card-title-first {
  font: 700 normal 16px/22px 'Ubuntu';
  text-align: center;
  color: #4664A0;
}

.advantages__card-title-second {
  font: 700 normal 16px/22px 'Ubuntu';
  text-align: center;
  color: grey;
}

/*---ADVANTAGES_MAIN style END---*/
/*---PRODUCTION SANDVICH_MAIN style START---*/
.production__sendvich {
  background: url("/img/index/production__sendvich.jpg") no-repeat center;
  background-size: cover;
}

.production__sendvich-title {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 70px;
  padding-bottom: 30px;
}

.production__sendvich-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  padding-bottom: 88px;
}

.production__sendvich-card {
  grid-column: span 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
}

.production__sendvich-card:hover .production__sendvich-card-pic {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 2s all;
  transition: 2s all;
}

.production__sendvich-card:hover .production__sendvich-card-title {
  visibility: hidden;
}

.production__sendvich-card:hover .production__sendvich-card-title-top {
  visibility: visible;
  z-index: 4;
}

.production__sendvich-card:hover .production__sendvich-card-button {
  visibility: visible;
}

.production__sendvich-card:hover:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 0.6;
  border-radius: 5px;
  z-index: 2;
}

.production__sendvich-card-pic {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  width: 100%;
  height: 245px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.production__sendvich-card-title {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #333333;
  background: #fff;
  padding: 10px 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.production__sendvich-card-title-top {
  position: absolute;
  top: 17px;
  left: 0;
  right: 0;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #4664A0;
  visibility: hidden;
}

.production__sendvich-card-button {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
  font: 500 normal 13px 'Ubuntu';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 14px;
  z-index: 4;
  background: #4664A0;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  visibility: hidden;
}

.production__sendvich-card-linc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

/*---PRODUCTION SANDVICH_MAIN style END---*/
/*---CALCULATION SANDVICH style START---*/
.calculation__sandvich {
  background: url("/img/index/calculation__sandvich.jpg") no-repeat center;
  background-size: cover;
  height: 305px;
  position: relative;
  padding-top: 22px;
  padding-bottom: 21px;
}

.calculation__sandvich-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calculation__sandvich-left-part-pic {
  height: 262px;
}

.calculation__sandvich-right-part {
  margin-left: 30px;
}

.calculation__sandvich-right-title {
  max-width: 621px;
  font: 700 normal 35px/45px 'Ubuntu';
  color: #FFFFFF;
  padding-top: 48px;
  margin-bottom: 30px;
}

.calculation__sandvich-right-calc {
  font: 500 normal 13px 'Ubuntu';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4664A0;
  text-decoration: none;
  border-radius: 5px;
  padding: 17px 60px 16px 81px;
  background: #FFFFFF url("/img/svg/calculation__sandvich-ico.svg") no-repeat 55px center;
}

.calculation__sandvich-right-calc:hover {
  background: #ffffffb7 url("/img/svg/calculation__sandvich-ico.svg") no-repeat 55px center;
}

/*---CALCULATION SANDVICH style END---*/
/*---PRODUCTION METALL style START---*/
.production__metall {
  height: 500px;
  padding-top: 70px;
  padding-bottom: 88px;
  background: url("/img/index/production__metall.jpg");
}

.production__metall-title {
  font: 700 normal 35px/18px 'Ubuntu';
  text-align: center;
  color: #333333;
  margin-bottom: 30px;
}

.production__metall-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.production__metall-card {
  border-radius: 5px 5px 5px 5px;
  position: relative;
  -webkit-box-shadow: 0 0 3px 3px rgba(18, 15, 96, 0.3);
          box-shadow: 0 0 3px 3px rgba(18, 15, 96, 0.3);
  overflow: hidden;
}

.production__metall-card:hover .production__metall-img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .5s all;
  transition: .5s all;
}

.production__metall-img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0px 0px;
}

.production__metall-subtitle {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #4664A0;
  background: #fff;
  border-radius: 0px 0px 5px 5px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.production__metall-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*---PRODUCTION METALL style END---*/
/*---ABOUTUS style START---*/
.aboutus {
  background: url("/img/index/aboutus.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 45px;
  padding-top: 28px;
}

.aboutus__title {
  font: 700 normal 35px/45px 'Ubuntu';
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.aboutus__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.aboutus__card-one {
  grid-column: span 3;
}

.aboutus__card-two {
  grid-column: span 3;
}

.aboutus__text {
  font: 400 normal 14px/22px 'Ubuntu';
  color: #FFFFFF;
}

/*---ABOUTUS style START---*/
/*--- OUR PARTNERS START ---*/
.partners {
  background: url("/img/index/partners-bg.jpg") no-repeat center;
  background-size: cover;
  height: 680px;
  padding-top: 55px;
  padding-bottom: 70px;
}

.partners__title {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}

.partners__title-first {
  margin-bottom: 52px;
}

.partners__title-second {
  margin-bottom: 30px;
}

.partners__slider-wrapper {
  max-width: 1286px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.partners__slider-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -webkit-column-gap: 0px;
          column-gap: 0px;
}

.partners__production-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.partners__production-card {
  position: relative;
  grid-column: span 2;
}

.partners__production-card-linc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*--- OUR PARTNERS END ---*/
/*--- FEEDBACK START ---*/
.feedback {
  background: url("/img/index/feedback.jpg") no-repeat center;
  background-size: cover;
  height: 415px;
  padding-top: 55px;
  padding-bottom: 60px;
}

.feedback-title {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.feedback__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 70px;
          column-gap: 70px;
}

.feedbacktel {
  background: #FFFFFF;
  border: 1px solid #B5B5B5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  border: 0;
  padding: 15px 15px 15px 15px;
  margin-bottom: 20px;
  width: 100%;
}

.feedbacktel:hover, .feedbacktel:focus, .feedbacktel:active {
  outline: 0;
}

.feedbacktext {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  background: #FFFFFF;
  border: 1px solid #B5B5B5;
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 110px;
  border: 0;
}

.feedbacktext:hover, .feedbacktext:focus, .feedbacktext:active {
  outline: 0;
}

.feedbacksubmit {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 18px;
  background: #4664A0;
  border-radius: 5px;
  border: 0;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.feedbacksubmit:hover, .feedbacksubmit:focus, .feedbacksubmit:active {
  background: #2b5ab8;
  letter-spacing: 2px;
}

.feedback__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.feedback__call-tel {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 22px;
  margin-bottom: 15px;
}

.feedback__call-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
  margin-left: 22px;
}

.feedback__logo {
  text-align: center;
}

/*--- FEEDBACK END ---*/
/*---FOOTER style START---*/
.footer {
  background: #101010;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 5px 20px 5px;
}

.footer__text-first, .footer__text-second {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-tiktok-pic {
  margin-right: 20px;
}

.footer__social-youtube-pic {
  margin-right: 20px;
}

/*---FOOTER style END---*/
